---
name: Build

on:
  push:
    branches:
      - master
      - branch-*
  pull_request:
  merge_group:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: ${{ github.ref_name != github.event.repository.default_branch }}

jobs:
  build:
    runs-on: github-ubuntu-latest-s
    name: Build
    permissions:
      id-token: write
      contents: write
      attestations: write
    outputs:
      BUILD_NUMBER: ${{ steps.build.outputs.BUILD_NUMBER }}
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - uses: jdx/mise-action@5ac50f778e26fac95da98d50503682459e86d566 # v3.2.0
        with:
          version: 2025.12.13
      - name: Build, Test, Analyze and deploy
        id: build
        uses: SonarSource/ci-github-actions/build-npm@master # dogfood
        env:
          SQ_SCANNER_VERSION: 4.3.0 # 4.3.1 requires node>=20
        with:
          deploy-pull-request: true
          artifactory-reader-role: private-reader # TODO: BUILD-8639 Change to public-reader once Repox permissions for Repox are updated
          artifactory-deployer-role: qa-deployer # TODO: BUILD-8639 Change to public-deployer once Repox permissions for Repox are updated
          provenance: 'true'

  custom-command:
    needs:
      - build
    runs-on: github-ubuntu-latest-s
    name: Custom NPM command
    permissions:
      id-token: write
      contents: write
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - uses: jdx/mise-action@5ac50f778e26fac95da98d50503682459e86d566 # v3.2.0
        with:
          version: 2025.12.13
      - uses: SonarSource/ci-github-actions/config-npm@master # dogfood
        id: config
        with:
          artifactory-reader-role: private-reader # TODO: BUILD-8639 Change to public-reader once Repox permissions for Repox are updated
      - run: |
          echo "BUILD_NUMBER: ${{ steps.config.outputs.BUILD_NUMBER }} (from action output)"
          echo "CURRENT_VERSION: $CURRENT_VERSION (from env)"
          echo "current-version: ${{ steps.config.outputs.current-version }} (from action output)"
          echo "PROJECT_VERSION: $PROJECT_VERSION (from env)"
          echo "project-version: ${{ steps.config.outputs.project-version }} (from action output)"
          npm install
          npm test

  promote:
    needs:
      - build
    runs-on: github-ubuntu-latest-s
    name: Promote
    permissions:
      id-token: write
      contents: write
    env:
      BUILD_NUMBER: ${{ needs.build.outputs.BUILD_NUMBER }} # reuse BUILD_NUMBER from build job
    steps:
      - uses: SonarSource/ci-github-actions/promote@master # dogfood
